<div id="header" class="w100 card headerSize" fxLayout fxLayoutAlign="space-between center">
    <div class="h100" fxLayout>
        <button mat-button class="h100 mr20" routerLink="/">
            <img class="h80" src="assets/logo.svg">
        </button> 
    </div>
    <div class="h100" fxLayout fxLayoutAlign="center center">
        <section *ngIf="user.online" class="fadeIn h100">
            <button mat-icon-button class="h100" [matMenuTriggerFor]="langmenu"><mat-icon>language</mat-icon></button>
            <mat-menu #langmenu="matMenu">
                <button mat-menu-item *ngFor="let lang of languages" (click)="changeLanguage(lang.val)">{{lang.title[language.language]}}</button>
            </mat-menu>
            <!--<button mat-icon-button (click)="openInfos()"><mat-icon >help_outline</mat-icon></button>-->
            <button mat-button class="h100" [matMenuTriggerFor]="usermenu">
                <div id="userBubble" fxLayout fxLayoutAlign="center center">
                    {{user.name.firstName.slice(0,1)}} {{user.name.lastName.slice(0,1)}}
                </div>
            </button>
            <mat-menu #usermenu="matMenu">
                <button mat-menu-item *ngFor="let upload of uploads" [routerLink]="'upload/'+upload.id">{{upload.title}}</button>
            </mat-menu>
        </section>
    </div>
</div> 
<div class="w100 headerSize"></div>