#header {
    position: fixed;
    background: white;
    border-radius: 0px !important;
    z-index: 10;
}
.headerSize {
    height: var(--header-height);
}
#userBubble {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: var(--eon-darkred);
    color: white;
    font-size: 13px;
}