
#closeContainer {
    flex-shrink: 0;
    margin: -8px -8px -8px 8px;
    line-height: 1;

    #closeButton {
        max-height: 36px;
        min-width: 0;
        padding: 0px 10px;
    }
}

#msgContainer {
    line-height: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}
