<div id="msgContainer" fxLayout fxLayoutAlign="space-between center">
    <div>{{data.message}}</div>
    <div id="closeContainer">
        <button mat-button id="closeButton" (click)="close()">
            <mat-icon style="font-size:18px;margin-top:6px;">close</mat-icon>
        </button>
    </div>
</div>