
#loadField {
    min-height: 70vh;
}
#content {
    width: 100%;
    height: calc(100% - var(--header-height));
    overflow: hidden;

    #pageArea {
        width: calc(100% - var(--side-width));
        height: 100%;
        overflow: hidden auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .pages {
             
        }
    }

    #sideMenu {
        width: var(--side-width);
        transition: left 0.5s;
        border-radius: 0px !important;
        z-index: 8;
    }
}
@media screen and (max-width: 959px) {
    #pageArea {
        width: 100% !important;
    }
    #sideMenu {
        position: fixed;
        top: var(--header-height);
        left: calc(0px - var(--side-width));
    }
}
@media screen and (max-width: 599px) {

}