<app-header></app-header>
<app-message></app-message>

<div id="loadField" *ngIf="status<3" fxLayout fxLayoutAlign="center center"><mat-spinner></mat-spinner></div>

<div id="content" fxLayout *ngIf="status===3">
  <div id="sideMenu" class="card">
    <app-side-menu></app-side-menu>
  </div>
  <div id="pageArea" class="fadeIn" fxLayout>
    <div class="pages container">
      <router-outlet></router-outlet>
    </div>  
  </div>
</div>



