<h2 class="pt10 pl20">Uploads</h2>


<button mat-button class="w100" *ngFor="let upload of uploads">
    <div class="button w100 h100" fxLayout fxLayoutAlign="flex-start center">
        <mat-icon class="buttonIcon">folder</mat-icon>
        <div class="w100 buttonContent" fxLayout="column" fxLayoutAlign="center flex-start">
            {{upload.title}}
            <span class="expireIn">{{getExpireTime(upload.expireIn)}}</span>
        </div>
    </div>
</button>