
.button {
    min-height: 64px;
    color: rgba(0,0,0,.87);
}
.buttonContent {
    font-size: 16px;
    line-height: 1;
}
.buttonIcon {
    width: 24px;
    height: 24px;
    padding: 4px;
    padding-right: 16px;
    color: rgba(0, 0, 0, 0.54);
}
.expireIn {
    color: rgba(0,0,0,.4);
    font-size: 14px;
}