<div class="dialog">
    <div class="dialogHead" fxLayout fxLayoutAlign="space-between center">
        <div class="ml10">Infos</div>
        <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="dialogBody">

        <section *ngFor="let block of textblocks">
            <h2>{{block.title[data.lang]}}</h2>
            {{block.desc[data.lang]}}
        </section>
        
        

    </div>

</div>
