@import '../node_modules/@angular/material/_theming.scss';
@import '~@angular/material/theming';

@include mat-core();

$md-gray: (
    50 : #f8f8f8,
    100 : #ededed,
    200 : #e1e1e1,
    300 : #d5d5d5,
    400 : #cccccc,
    500 : #c3c3c3,
    600 : #bdbdbd,
    700 : #b5b5b5,
    800 : #aeaeae,
    900 : #a1a1a1,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe4e4,
    A700 : #ffcaca,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-eonred: (
    50 : #fee4e2,
    100 : #fbbbb6,
    200 : #f98e85,
    300 : #f76054,
    400 : #f53e2f,
    500 : #f31c0a,
    600 : #f11909,
    700 : #ef1407,
    800 : #ed1105,
    900 : #ea0903,
    A100 : #ffffff,
    A200 : #ffdede,
    A400 : #ffacab,
    A700 : #ff9391,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-eonyellow: (
    50 : #fcfbe0,
    100 : #f7f6b3,
    200 : #f1f080,
    300 : #ebe94d,
    400 : #e7e526,
    500 : #e3e000,
    600 : #e0dc00,
    700 : #dcd800,
    800 : #d8d300,
    900 : #d0cb00,
    A100 : #fffff8,
    A200 : #fffdc5,
    A400 : #fffc92,
    A700 : #fffb79,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-eonturquiose: (
    50 : #e4f4f6,
    100 : #bce3e8,
    200 : #8fd1d8,
    300 : #62bec8,
    400 : #40b0bd,
    500 : #1ea2b1,
    600 : #1a9aaa,
    700 : #1690a1,
    800 : #128698,
    900 : #0a7588,
    A100 : #b7f3ff,
    A200 : #84eaff,
    A400 : #51e2ff,
    A700 : #37ddff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-eonbordeaux: (
    50 : #f6e1e1,
    100 : #e7b4b3,
    200 : #d88281,
    300 : #c84f4e,
    400 : #bc2a28,
    500 : #b00402,
    600 : #a90302,
    700 : #a00301,
    800 : #970201,
    900 : #870101,
    A100 : #ffb3b3,
    A200 : #ff8080,
    A400 : #ff4d4d,
    A700 : #ff3434,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-eondarkgrey: (
    50 : #e7e7e7,
    100 : #c4c4c4,
    200 : #9c9c9d,
    300 : #747475,
    400 : #575758,
    500 : #39393a,
    600 : #333334,
    700 : #2c2c2c,
    800 : #242425,
    900 : #171718,
    A100 : #6e6ef2,
    A200 : #3f3fee,
    A400 : #0000fb,
    A700 : #0000e1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$custom-theme-primary: mat-palette($md-eonturquiose);
$custom-theme-accent: mat-palette($md-eonyellow);
$custom-theme-warn: mat-palette($md-eonbordeaux);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

// @include angular-material-typography($custom-typography);
@include angular-material-theme($custom-theme);
