/* You can add global styles to this file, and also import other style files */
@import './custom-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: rgba(0,0,0,.05); }


.card {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 7.5px;
    background: white;
}
.cardBtn {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 7.5px;
    background: white;
    cursor: pointer;
    transform: scale(1);
    transition: box-shadow 0.25s, transform 0.25s;

    &:hover {
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
        transform: scale(1.0125);
    }
}
.container {
    width: 1250px;
    max-width: 95%;
    margin: auto;
    // padding-top: 20px;
}
.message-info {
    background-color: #36404E;
    color: white;
}
.message-success {
    background-color: green;
    color: white;
}
.message-error {
    background-color: var(--eon-red);
    color: white;
}

.bg-eonblue {
    background: var(--eon-blue) !important;
}
.bg-eonred {
    background: var(--eon-red) !important;
}
.bg-eondarkred {
    background: var(--eon-darkred) !important;
}
:root {

    --header-height: 55px;

    --primary-color: '#5cc1cb';

    --eon-red: #ea1c0a;
    --eon-darkred: #b00402;
    --eon-blue: #5cc1cb;

    --side-width: 250px;
}

