<div class="uploadfilecontainer" (click)="fileInput.click()" [style.height.px]="height" appDragDrop (onFileDropped)="uploadFile($event)">
    <div id="uploadIconField" class="w100 h100" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon id="uploadIcon">cloud_upload</mat-icon>
        <h2>Datei Hochladen</h2>
    </div>
    
    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
  </div>
  <div  class="files-list" *ngFor="let file of files;let i= index" fxLayout fxLayoutAlign="space-between center">
    <span class="ml10">{{file.name}}</span>
    <button mat-icon-button class="delete-file" (click)="deleteAttachment(i)">
      <mat-icon style="color:red;">delete</mat-icon>
    </button>
</div>